.datasetItem {
  overflow: hidden;
  border-radius: 10px;
  border: 1px solid var(--new-dark-color);
}

.img {
  background-color: var(--link-bg-color);
  height: 150px;
}

.datasetContent {
  padding: var(--space-md) 0;
}

.datasetTitle {
  margin-bottom: var(--space-sm);
  /* color: var(--new-dark-color); */
}

.datasetUpdated {
  font-size: 0.85rem;
  color: var(--new-dark-color);
}

.datasetBtn {
  display: inline-flex !important;
  margin-top: var(--space-md);
}

.datasetList {
  background-color: transparent;
  position: absolute;
  z-index: 9;
  right: var(--space-md);
  top: var(--space-md);
}

.datasetList::after {
  display: none;
}

.datasetList span {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #4f4f4f;
  display: block;
  margin-bottom: 3px;
}

.spinner {
  position: absolute;
  top: calc(50% - 1rem);
  left: calc(50% - 1rem);
  z-index: 9;
}
