:root {
  --font: "Roboto", sans-serif;
  --font-secondary: "Roboto", sans-serif;
  --font-size: 16px;
  --font-size-sm: 14px;
  --font-size-md: 18px;
  --space-sm: 10px;
  --space-md: 17px;
  --space-lg: 40px;

  --main-color: rgb(83, 83, 83);
  --text-color: #555;
  --bg-dark-color: #495057;
  --bg-el-color: #5c5c5c;
  --border-color: #dedede;
  --inp-border-color: #dedede;
  --sidebar-border-color: #999;
  --link-bg-color: #f3f3f3;

  --header-height: 55px;
  --sidebar-width: 300px;
  --radius: 10px;
  --inp-height: 48px;

  /* colors variables  */
  --new-dark-color: #1c1c20;
  --new-el-bg-color: #bbbbbb;
  --new-blue-color: #221aff;
  --new-gray-color: #c4c4c4;
  --new-text-color: #4f4f4f;
  --new-btn-bg-color: #929292;

  /* colors  */
  --n-text-color-light-bg: #303030;
  --n-text-color-dark-bg: #f2f2f2;
  --n-primary-color: #da402c;
  --n-secondary-color: #1c1c20;
  --n-secondary-color2: #1a1a1d;
  --n-btn-hover-color: #7d190c;
  --n-success-color: #2cda74;
}

@media (min-width: 992px) {
  :root {
  --sidebar-width: 300px !important;
  }
}

@media (max-width: 991px) {
  :root {
    --sidebar-width: 0;
  }
}

body {
  /* color: var(--text-color); */
  color: var(--n-text-color-light-bg);
  font-size: var(--font-size);
  font-family: var(--font);
  padding-top: var(--header-height);
}

a:hover,
a {
  text-decoration: none;
}

a:hover {
  color: initial;
}

.p-t {
  padding-top: 50px;
}

.p-b {
  padding-bottom: 50px;
}

.p-l {
  padding-left: 80px;
}

.p-r {
  padding-right: 80px;
}

@media (max-width: 576px) {
  .p-l {
    padding-left: 30px;
  }

  .p-r {
    padding-right: 30px;
  }

}

.sidebar {
  width: var(--sidebar-width);
  transition: 0.3s;
}
.page-content {
  transition: 0.3s;
  width: calc(100% - var(--sidebar-width));
}

@media (max-width: 991px) {
 
.page-content {
  width: 100% !important;
}
 
}

.our-btn {
  background: var(--new-el-bg-color);
  height: 35px;
  border-radius: 5px;
  color: var(--text-color);
  min-width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  transition: 0.3s;
}

.our-btn:hover {
  background-color: var(--n-btn-hover-color);
  color: #fff;
}

.continueButton {
  background-color: var(--new-gray-color);
  height: 40px;
  min-width: 200px;
  padding: 0 10px;
  border-radius: 10px;
  color: var(--text-color);
  border: none;
  text-transform: capitalize;
  font-weight: 600;
}

.MuiSlider-rail {
  background-color: var(--new-gray-color) !important;
  height: 10px !important;
  opacity: .7 !important;
}

.MuiSlider-track {
  opacity: 1 !important;
  background-color: var(--new-gray-color) !important;
  height: 10px !important;
  border: none !important;
}

.MuiSlider-thumb {
  background: #fff !important;
  box-shadow: 0 0 10px rgb(0 0 0 / 30%) !important;
  border: 1px solid var(--new-dark-color) !important;
}