:root {
  --font: "Roboto", sans-serif;
  --font-size: 16px;
  --font-size-sm: 14px;
  --font-size-md: 18px;
  --space-sm: 10px;
  --space-md: 20px;
  --space-lg: 40px;

  --main-color: rgb(83, 83, 83);
  --text-color: #555;
  --bg-dark-color: #495057;
  --bg-el-color: #5c5c5c;
  --border-color: #dedede;
  --inp-border-color: #dedede;
  --sidebar-border-color: #999;
  --link-bg-color: #f3f3f3;

  --header-height: 70px;
  --sidebar-width: 350px;
  --radius: 10px;
  --inp-height: 65px;
}

body {
  color: var(--text-color);
  font-size: var(--font-size);
  font-family: var(--font);
  padding-top: var(--header-height);
}

a:hover,
a {
  text-decoration: none;
}

a:hover {
  color: initial;
}

/* .p-t {
  padding-top: var(--space-lg);
} */

/* .p-b {
  padding-bottom: var(--space-lg);
} */

.p-l {
  padding-left: 40px;
}

/* .p-r {
  padding-right: var(--space-md);
} */

.sidebar {
  width: var(--sidebar-width);
  transition: 0.3s;
}
.page-content {
  transition: 0.3s;
  width: calc(100% - var(--sidebar-width));
}
