.welcome {
  margin: 70px 0;
  color: #000;
  font-weight: 700;
  font-size: 2.7rem;
}

.infoBox:not(:last-child) {
  margin-bottom: var(--space-sm);
}

.infoBox {
  color: var(--main-color);
}

.infolabel {
  margin: 0 5px 15px 0;
  color: #000;
  font-size: 1.4rem;
  font-weight: bold;
}
