.welcome {
  margin: 50px 0;
  color: #000;
  font-weight: 700;
  font-size: 2rem;
}

.infoBox:not(:last-child) {
  margin-bottom: var(--space-sm);
}

.infoBox {
  color: var(--main-color);
}

.infolabel {
  margin: 0 5px 6px 0;
  color: #000;
  font-size: 1rem;
  font-weight: bold;
}
