.detailsBox {
  color: var(--new-dark-color);
  margin-bottom: var(--space-lg);
}

.detailsTitle {
  font-weight: bold;
  margin-right: 10px !important;
  line-height: 0;
  /* min-width: 150px; */
}

.metadata {
  line-height: normal;
  margin-bottom: var(--space-sm) !important;
}

.detailsBox:last-child .detailsresponse {
  margin-bottom: var(--space-sm) !important;
}

/* .percentage{
  height: 4px;
  border: 2px solid #aaa;
} */

.editBtn {
  min-width: 240px;
  margin-left: 40px;
  color: var(--new-dark-color);
  font-weight: bold;
}

.datasetImgDetails {
  height: 250px;
  background-color: var(--link-bg-color);
}

.datasetImgTitle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0 var(--space-md);
  width: 100%;
  text-align: center;
  font-weight: bold;
  color: var(--new-dark-color);
}
