.authContent {
  border: 2px solid var(--border-color);
  border-radius: var(--radius);
    margin: 65px auto 40px;
    max-width: 410px;
    min-height: 537px;
    padding: 44px 30px;

}

.title {
  margin-bottom: 28px;
}

.titleInner {
  color: var(--main-color);
  font-weight: 600;
  margin-bottom: var(--space-sm);
  font-size: 1.15rem;
}
.subTitleInner {
  font-size: 0.8rem;
}
.account {
  margin-top: var(--space-lg);
  margin-bottom: 1.5rem;
  text-transform: capitalize;
  font-size: 0.9rem;
  font-weight: 400;
}

.account a {
  color: var(--main-color);
}
